.div__preventions {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(239, 239, 239, 0.89),rgba(229, 229, 229, 0.582), rgba(235, 233, 233, 0.986)),url(https://cdn.sortiraparis.com/images/1001/83517/577986-visuel-paris-velo-quai.jpg) no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.today__card {
    background-color: rgba(1, 78, 1, 0.729);
    width: 500px;
    height: 250px;
    border-radius: 10px;
    margin-top: 80%;
    margin-left: 3%;
}

.div__title {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.div__details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.div__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p__data {
    font-weight: bold;
}

.p__day {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.p__month {
    color: white;
    font-weight: 100;
    margin-top: -5px;
}


.div__standard__card {
    width: 25%;
    margin-top: 3%;
    margin-right: 3%;
}

.standard__card {
    cursor: pointer;
    background-color: rgb(1, 78, 1);
    border-radius: 10px;
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 800px){
    .div__preventions {
        background: linear-gradient(rgba(239, 239, 239, 0.89),rgba(229, 229, 229, 0.582), rgba(235, 233, 233, 0.986)),url(https://cdn.sortiraparis.com/images/1001/83517/577986-visuel-paris-velo-quai.jpg) no-repeat ;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .div__standard__card {
        width: 100%;
    }

    .today__card {
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
    }
}
